@import url(https://db.onlinewebfonts.com/c/3724ece79a634e7b5168905d01e59a64?family=Maison+Neue+Book);

@font-face {
    font-family: "Maison Neue Book";
    src: url("https://db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.eot");
    src: url("https://db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/3724ece79a634e7b5168905d01e59a64.svg#Maison Neue Book")format("svg");
}

* {
    box-sizing: border;
    list-style: none;
    font-family: "Maison Neue Book";
    font-size: 100%;
}

body {
    margin: 0;
}

.sale {
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 10px;
    background-color: black;
    animation: salea 16s infinite;
    content: "Enjoy free shipping on U.S. orders over $100.";
}



@keyframes salea {
    0% {
        content: "Enjoy free shipping on U.S. orders over $100.";

    }

    25% {
        content: "Up to 60% Off: The Summer Sale.";
        background-color: seagreen;
        color: white;
    }

    75% {
        content: "Receive 15% off your first order.         ";
        background-color: cadetblue;
        color: white;
    }

    100% {
        content: "Get early access on launches and offers.         ";
        background-color: seagreen;
        color: white;
    }


}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    order: 2;
    background-color: white;
    z-index: 1000;
}

.navu {
    display: flex;
    float: inline-end;
    margin-right: auto;
    padding-inline-end: 5%;
}

.rrnew {
    padding: 0;
    transform: translateY(-20%);

}

.rrnew li {
    display: inline-block;

}

#name:hover,
#name:focus {
    border-bottom: 0;
}

#name {
    font-family: sans-serif;
    letter-spacing: 4px;
    text-align: center;
    font-size: 24px;
    flex-grow: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

button {
    background-color: inherit;
    border: 0;
}

.navb ul li a {
    color: inherit;
    text-decoration: none;
}

.navb ul {
    padding-top: 1%;
    margin-bottom: 0;
}



hr {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.2;
    width: 100%;
}

#nava:hover,
#nava:focus {
    border-bottom: 1.6px solid black;
}


nav ul li {
    display: inline-block;
    padding: 0px 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}

.nav2 ul {
    text-align: center;
}

.nav2 ul li {
    padding-bottom: 0;
}

#sale2 {
    color: red;
}

/*space {}*/
.container {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-top: 1vh;
    margin-top: 20vh;
    order: 1;
    margin-right: 5%;
    margin-left: 5%;
}

img {
    min-height: 72vh;
    margin-right: 1%;
}

.pic {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-gap: 0;
    padding-right: 1%;
    width: 100%;
    position: sticky;
    overflow: hidden;
    margin-right: 1%;
}

.items {}

.m5 {
    margin-bottom: 5px;
}

.catag {
    color: rgb(124, 124, 124);
}

.items {
    margin-right: 1%;
}


.info {
    padding-top: 1%;
    width: 45vw;
    position: sticky;
}

.nami {
    max-width: 80%;
    font-size: 30px;
    font-weight: normal;
}

.price {
    float: top;
    font-size: 24px;
}


.rr {
    display: flex;
    transform: translateY(-20%);
    z-index: 1;
    position: relative;
}

#gray,
#rvv {
    color: grey;
}

#rvv {
    padding: 0 3px;
}


.r {
    padding: 0 2px;
}

.nnp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* This will ensure H2 and price are spaced apart */
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}


.review {
    transform: initial;
    padding: 19px 2px;
}

.colorbut,
.sizebut {
    display: flex;
    padding: 0;
    margin: 8px 0;
}

.sizebut ul {
    padding: 0;
    margin-top: 0;
}



.sizebut li {
    display: inline-flex;

    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.sizebut li button {
    background-color: whitesmoke;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 2px;
    display: flex;
    float: center;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    border: solid 0px;
}

.colorbut li button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 0px;
    margin: 5px;
}

.colorbut li button:hover,
.sizebut li button:hover,
.sizebut li button:focus {
    border-width: 2px;
}

.colorbut li button:focus {
    border-width: 3px;
}

#b1 {
    margin-left: 0;
    background-color: beige;
}

#b2 {
    background-color: teal;
}

#b3 {
    background-color: darkslategray;
}

#b4 {
    background-color: rgb(224, 215, 198);
}

#first {
    margin-left: 0;
}

#l,
#l a {
    float: right;
    color: grey;
}

#atc {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}

#rght {
    float: left;
}

.truck {
    justify-content: center;
    text-align: center;
    transform: translateY(25%);
}

.cont3 {
    padding: 5px;
    margin-top: 3%;
    max-width: 100%;
    display: flex;
}

.conten {
    padding: 10px;
    width: 80%;
}

.contb {
    width: 100%;
    margin-left: 2%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: translateY(-20%);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.ctn {
    height: 5px;
    width: 10px;
}

.lastco {
    padding: 5%;
}

.pic2 {
    display: flex;
    width: 100%;
}

.img {
    width: 25%;
    overflow: hidden;
    padding: 5px;
    float: center;
    text-align: center;
    margin: 5px;
}

img {
    justify-content: center;
    transform: translateX(-15%);
}

.mtl {

    width: 100%;
}

.mtln {
    justify-content: left;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.mtlp {
    display: flex;
    justify-content: center;
}

.mtl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#cut {
    text-decoration: line-through;
}

#nrml {
    color: initial;
}

.big {
    font-size: 24px;
}

.lasttp {
    text-align: center;
    position: center;
    margin: 10% 5%;
}

.ltpc {
    display: flex;
    justify-content: center;

}

.ltpcc {
    padding: 2% 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.icon {
    width: 1000px;
    height: 50px;
}

.cnt {
    position: center;
    justify-content: center;
    padding: 0 20%;
}

.last {
    background-color: rgb(245, 244, 244);
    display: flex;
    width: 100%;
}

.lastc ul li {
    width: max-content;
    padding: 5% 2%;
    margin: 5% 2%;
}

.lastc ul li a {
    color: grey;
    text-decoration: none;
}

.lastc ul {
    width: max-content;
}

.lastc {
    padding: 4% 5px;
    width: 12%;
}

.footh {
    font-size: 35px;
    width: max-content;
    padding: 5%;
    padding-bottom: 2%;

}

#spec {
    font-weight: bold;
    font-size: larger;

}

.eml {

    width: 100%;
    padding: 5%;
    padding-top: 2%;
}

#em {
    height: 50px;
    width: 100%;
}

#icnid {
    height: 100%;
    justify-content: center;
}

.emc {
    justify-content: center;
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
}

.lastcl {
    width: 40%;
    justify-content: center;
    padding: 4% 5px;
}

.icon-class {
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    width: 50px;
}

.icn button {
    padding: inherit;
    height: 50px;

}

.lastb {
    background-color: rgb(245, 244, 244);
    width: 100%;
}

.lastl,
.lastl ul li button {
    color: grey;
    position: center;
}

.lastl ul li {
    padding: 1% 2%;
}

.lastl ul {
    display: flex;
    position: center;
    justify-content: center;
}

.lastl {
    justify-content: center;
    text-align: center;
    padding-bottom: 1%;
}

#cp {
    width: 100%;
    justify-content: center;
    position: center;
    float: center;
}